<div class="container mt-4">
    <h5>Select your favourite music category to explore:</h5>
    <div class="row mt-4">
        <div class="col-2 ">
            <div class="card" style="height: 30rem;">
                <img class="card-img-top" style="height: 195px; width: 195px;"
                    src="https://i.postimg.cc/HnhQ6bcM/rock.jpg" />

                <div class="card-body" style="background-color: whitesmoke">
                    <h5 class="card-title">Rock Records</h5>
                </div>
                <div class="card-footer text-center" style="background-color:snow">
                    <a routerLink="/rock" class="btn btn-outline-danger text-secondary">LETS ROCK!</a>
                </div>
            </div>
        </div>
        <div class="col-2 ">
            <div class="card" style="height: 30rem;">
                <img class="card-img-top" style="height: 195px; width: 195px;"
                    src="https://i.postimg.cc/tJT3dBTy/pop.jpg" />

                <div class="card-body" style="background-color: whitesmoke">
                    <h5 class="card-title">Pop Records</h5>
                </div>
                <div class="card-footer text-center" style="background-color:snow">
                    <a routerLink="/pop" class="btn btn-outline-primary">POP IT UP!</a>
                </div>
            </div>
        </div>
        <div class="col-2 ">
            <div class="card" style="height: 30rem;">
                <img class="card-img-top" style="height: 195px; width: 195px;"
                    src="https://i.postimg.cc/FsYb7C8V/metal.png" />

                <div class="card-body" style="background-color: whitesmoke">
                    <h5 class="card-title">Metal Records</h5>
                </div>
                <div class="card-footer text-center" style="background-color:snow">
                    <a routerLink="/metal" class="btn btn-outline-dark text-danger">HARD AS METAL!</a>
                </div>
            </div>
        </div>
        <div class="col-2 ">
            <div class="card" style="height: 30rem;">
                <img class="card-img-top" style="height: 195px; width: 195px;"
                    src="https://i.postimg.cc/J76c7C6h/hiphop.jpg" />

                <div class="card-body" style="background-color: whitesmoke">
                    <h5 class="card-title">Hip-Hop Records</h5>
                </div>
                <div class="card-footer text-center" style="background-color:snow">
                    <a routerLink="/hiphop" class="btn btn-outline-warning ">RHYME & POETRY!</a>
                </div>
            </div>
        </div>
        <div class="col-2 ">
            <div class="card" style="height: 30rem;">
                <img class="card-img-top" style="height: 195px; width: 195px;"
                    src="https://i.postimg.cc/N0cRCsMd/electronic.jpg" />

                <div class="card-body" style="background-color: whitesmoke">
                    <h5 class="card-title">Electronic Records</h5>
                </div>
                <div class="card-footer text-center" style="background-color:snow">
                    <a routerLink="/electronic" class="btn btn-outline-success">DANCE!</a>
                </div>
            </div>
        </div>
        <div class="col-2 ">
            <div class="card" style="height: 30rem;">
                <img class="card-img-top" style="height: 195px; width: 195px;"
                    src="https://i.postimg.cc/V649bxzD/classical.jpg" />

                <div class="card-body" style="background-color: whitesmoke">
                    <h5 class="card-title">Classical Records</h5>
                </div>
                <div class="card-footer text-center" style="background-color:snow">
                    <a routerLink="/classical" class="btn btn-outline-dark">CLASSY!</a>
                </div>
            </div>
        </div>
    </div>
</div>