<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-2">Welcome to MSN Chat</h2>
            <div class="text-center mb-2 text-dark">Please Join a Room to start Chatting</div>
            <div class="card my-2">

                <form [formGroup]="joinRoomForm" class="card-body cardbody-color p-lg-5">

                    <div class="text-center">
                        <img src="https://i.postimg.cc/8z5XCC4j/rddt.jpg"
                            class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
                            alt="profile">
                    </div>

                    <div class="mb-3">
                        <input formControlName="user" readonly type="text" class="form-control" id="displayname"
                            aria-describedby="emailHelp" placeholder="Display Name" value="">
                    </div>
                    <div class="mb-3">
                        <select formControlName="room" class="form-control" id="roomname" placeholder="Room Name"
                            #myinput>
                            <option value="Rock">Rock</option>
                            <option value="Pop">Pop</option>
                            <option value="Metal">Metal</option>
                            <option value="HipHop">HipHop</option>
                            <option value="Classical">Classical</option>
                            <option value="Electronic">Electronic</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button [disabled]="joinRoomForm.invalid" (click)="joinRoom()" type="submit"
                            class="btn btn-dark text-warning px-5 mb-5 w-100">Join</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>