<div class="container mt-5">
    <h2 class="text-center">Welcome to MSN_ADMIN</h2>
    <h4 class="text-center mt-3">Choose a Category to Manage</h4>
    <div class="row mt-5 text-center">
        <div class="button-group" role="group">
            <button type="button" routerLink="/all_music_records" class="btn btn-dark text-warning">Manage Music records
            </button> &nbsp;
            <button type="button" routerLink="/all_forum_posts" class="btn btn-dark text-warning">Manage Forum Posts
            </button> &nbsp;
            <button type="button" routerLink="/all_users" class="btn btn-dark text-warning">Manage Users </button>
            &nbsp;
        </div>
    </div>
</div>