<div class="container mt-5">
    <div class="mt-2">
        <p class="mb-0 ms-2"><a routerLink="/msn_admin" class="text-white fw-bold">Go back to Admin Index</a>
        </p>
    </div>
</div>

<div class="container">
    <h2 class="text-center">All Forum Posts:</h2>
    <table class="table table-striped table-bordered table-dark text-left mt-3">
        <thead>
            <th class="m-1 text-center" scope="col">Id</th>
            <th class="m-1 text-center" scope="col">Title</th>
            <th class="m-1 text-center" scope="col">Artist</th>
            <th class="m-1 text-center" scope="col">Genre</th>
            <th class="m-1 text-center" scope="col">Type</th>
            <th class="m-1 text-center" scope="col">Description</th>
            <th class="m-1 text-center" scope="col">Time Created</th>
            <th class="m-1 text-center" scope="col">Created By</th>
            <th class="m-1 text-center" scope="col">Is Approved</th>
            <th class="m-1 text-center" scope="col">Actions</th>
        </thead>
        <tbody>
            @for(item of allForumPosts; track item){
            <tr scope="row">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.artist}}</td>
                <td>{{item.genre}}</td>
                <td>{{item.type}}</td>
                <td>{{item.description}}</td>
                <td>{{item.timeCreated | date}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.isApproved}}</td>
                <td> <a routerLink="/approve_forum_post/{{item.id}}" type="button" class="link-light">Approve Post</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>