<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <section class="vh-50 gradient-custom">
        <div class="container py-5 h-50">
            <div class="row d-flex justify-content-center align-items-center h-50">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-2 mt-md-2 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase text-warning">Create a Forum Post</h2>
                                <p class="text-white-50 mb-5">Create a post to let our admins know to add a specific
                                    music record of your wishes</p>

                                <div class="form-outline form-blue mb-2">
                                    <label for="" class="form-label">Title</label>
                                    <input
                                        [class.is-invalid]="postForm.get('title')?.invalid && postForm.get('title')?.touched"
                                        formControlName="title" type="text" class="form-control form-control-md"
                                        #myinput>
                                    <small
                                        [class.d-none]="postForm.get('title')?.valid || postForm.get('title')?.untouched"
                                        class="text-danger">Title is required</small>
                                </div>

                                <div class="form-outline form-white mb-2">
                                    <label for="" class="form-label">Artist</label>
                                    <input
                                        [class.is-invalid]="postForm.get('artist')?.invalid && postForm.get('artist')?.touched"
                                        formControlName="artist" type="text" class="form-control form-control-md">
                                    <small
                                        [class.d-none]="postForm.get('artist')?.valid || postForm.get('artist')?.untouched"
                                        class="text-danger">Artist is required</small>
                                </div>

                                <div class="form-outline form-white mb-2">
                                    <label for="" class="form-label">Genre</label>
                                    <select
                                        [class.is-invalid]="postForm.get('genre')?.invalid && postForm.get('genre')?.touched"
                                        formControlName="genre" name="Genre" id="" class="form-control form-control-md">
                                        <option value="Rock">Rock</option>
                                        <option value="Pop">Pop</option>
                                        <option value="HipHop">HipHop</option>
                                        <option value="Metal">Metal</option>
                                        <option value="Classical">Classical</option>
                                        <option value="Electronic">Electronic</option>
                                    </select>
                                    <small
                                        [class.d-none]="postForm.get('genre')?.valid || postForm.get('genre')?.untouched"
                                        class="text-danger">Genre is required</small>
                                </div>
                                <div class="form-outline form-white mb-2">
                                    <label for="" class="form-label">Type</label>
                                    <select
                                        [class.is-invalid]="postForm.get('type')?.invalid && postForm.get('type')?.touched"
                                        formControlName="type" name="Type" id="" class="form-control form-control-md">
                                        <option value="Song">Song</option>
                                        <option value="Track">Track</option>
                                        <option value="Album">Album</option>
                                        <option value="Mix">Mix</option>
                                    </select>
                                    <small
                                        [class.d-none]="postForm.get('type')?.valid || postForm.get('type')?.untouched"
                                        class="text-danger">Type is required</small>
                                </div>
                                <div class="form-outline form-white mb-2">
                                    <label for="" class="form-label">Custom Message</label>
                                    <textarea formControlName="description" type="text"
                                        class="form-control form-control-md"></textarea>
                                </div>

                                <button [disabled]="postForm.invalid" class="btn btn-outline-warning btn-lg px-5 mt-3"
                                    type="submit">Submit
                                </button>
                            </div>
                            <div>
                                <p class="mb-0"><a routerLink="/forum_posts" class="text-white fw-bold">Go back to All
                                        Forum Posts</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>