<div class="container mt-5">
    <a class="btn btn-dark text-warning" routerLink="/new_music_record">Create New Music Record</a> <br>
    <div class="mt-2">
        <p class="mb-0 ms-2"><a routerLink="/msn_admin" class="text-white fw-bold">Go back to Admin Index</a>
        </p>
    </div>
</div>
<div class="container">
    <h2 class="text-center">All Music Records:</h2>
    <table class="table table-striped table-bordered table-dark text-left mt-3">
        <thead>
            <th class="m-1 text-center" scope="col">Id</th>
            <th class="m-1 text-center" scope="col">Image</th>
            <th class="m-1 text-center" scope="col">Title</th>
            <th class="m-1 text-center" scope="col">Artist</th>
            <th class="m-1 text-center" scope="col">Genre</th>
            <th class="m-1 text-center" scope="col">Type</th>
            <th class="m-1 text-center" scope="col">Rating</th>
            <th class="m-1 text-center" scope="col">Url</th>
            <th class="m-1 text-center" scope="col">Actions</th>
        </thead>
        <tbody>
            @for(item of allMusicRecords; track item){
            <tr scope="row">
                <td>{{item.id}}</td>
                <td><img src={{item.imageUrl}} style="height: 36px; width: 36px;"> </td>
                <td>{{item.title}}</td>
                <td>{{item.artist}}</td>
                <td>{{item.genre}}</td>
                <td>{{item.type}}</td>
                <td>{{item.rating}}</td>
                <td>{{item.url}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a routerLink="/edit_music_record/{{item.id}}" type="button" class="link-light">Edit</a>
                        &nbsp;
                        <a routerLink="/delete_music_record/{{item.id}}" type="button" class="link-secondary">Delete</a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>