<div class="container mt-5">
    <h2 class="mb-2"><b> Something went wrong</b></h2>

    <h4 class="text-danger mt-5">This might be due to Unauthorized Access, Bad Request, Unavailable Item or Malformed
        Registration or
        Login
        (existing username, wrong,
        invalid or non-existing username or password)</h4>

    <div class="container text-center mt-5">
        <div>
            <a routerLink=" /login">Login</a>
        </div>
        <div>
            <a routerLink="/register">Register</a>
        </div>
        <div>
            <a routerLink="/home">Go back to Index</a>
        </div>
    </div>


</div>